<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Person</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="name">Edit name: </label>
    <input type="text" th:field="*{name}" id="name">
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error name</div>

    <label for="age">Edit age: </label>
    <input type="text" th:field="*{age}" id="age">
    <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Error age</div>

    <label for="email">Edit email: </label>
    <input type="text" th:field="*{email}" id="email">
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error email</div>
    <p>
        <input type="submit" value="Update"/>
</form>
</body>
</html>